<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fits</string>
				<string>fit</string>
				<string>fts</string>
				<string>ft</string>
				<string>mt</string>
				<string>imfits</string>
				<string>imfit</string>
				<string>uvfits</string>
				<string>uvfit</string>
				<string>pha</string>
				<string>rmf</string>
				<string>arf</string>
				<string>rsp</string>
				<string>pi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Flexible Image Transport System file</string>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>gov.nasa.gsfc.fits</string>
				<string>gov.nasa.gsfc.fits-header</string>
				<string>com.sao.SAOImageDS9</string>
				<string>dyn.ah62d4rv4ge80q4pysq</string>
				<string>dyn.ah62d4rv4ge80q4py</string>
				<string>dyn.ah62d4rv4ge80q7a</string>
				<string>dyn.ah62d4rv4ge8047a</string>
				<string>dyn.ah62d4rv4ge81a4db</string>
				<string>dyn.ah62d4rv4ge80c6xg</string>
				<string>dyn.ah62d4rv4ge81e5pg</string>
				<string>dyn.ah62d4rv4ge81e65u</string>
				<string>dyn.ah62d4rv4ge81a4k</string>
				<string>dyn.ah62d4rv4ge80w5pgrf4a</string>
				<string>dyn.ah62d4rv4ge81n7xgrf4a</string>
				<string>dyn.ah62d4rv4ge80w5pgrf4hg</string>
				<string>dyn.ah62d4rv4ge81n7xgrf4hg</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>QLFits</string>
	<key>CFBundleIdentifier</key>
	<string>com.softtenebraslux.qlfitsgenerator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QLFits</string>
	<key>CFBundlePackageType</key>
	<string>STLU</string>
	<key>CFBundleShortVersionString</key>
	<string>2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.3.0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>F3DB2281-6035-45A6-AFEF-54E25EDC63FB</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>F3DB2281-6035-45A6-AFEF-54E25EDC63FB</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>QLNeedsToBeRunInMainThread</key>
	<true/>
	<key>QLPreviewHeight</key>
	<integer>800</integer>
	<key>QLPreviewWidth</key>
	<integer>800</integer>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>QLThumbnailMinimumSize</key>
	<integer>20</integer>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.data</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Flexible Image Transport System file</string>
			<key>UTTypeIdentifier</key>
			<string>gov.nasa.gsfc.fits</string>
			<key>UTTypeReferenceURL</key>
			<string>http://fits.gsfc.nasa.gov</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fits</string>
					<string>fit</string>
					<string>fts</string>
					<string>ft</string>
					<string>mt</string>
					<string>imfits</string>
					<string>imfit</string>
					<string>uvfits</string>
					<string>uvfit</string>
					<string>pha</string>
					<string>rmf</string>
					<string>arf</string>
					<string>rsp</string>
					<string>pi</string>
				</array>
				<key>public.mime-type</key>
				<string>image/fits</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
